### 변경 사항
- 20231205 에서 변경 사항: csv 변경
    - 4기 ~ 8기에서 test셋으로 사용한 2020년도 제외
    - 피쳐 선택
    - 만 19세 이상

In [69]:
import pandas as pd
import numpy as np

df_origin = pd.read_csv('../HN__4_8__19__train.csv') #임시 -csv직접 올려서 사용함

### 데이터셋 설명
HN__4_8__19__selected.csv
- num_features = 연속형 숫자형 변수들
- onehot_features = 예/아니오 거나 응답별로 서로 순서/척도 관계 없이 정말 범주로만 나와있는 변수들 
- label_features = 적음/보통/많음 과 같이 척도 관계가 있는 변수들
- y_related = ["BP_PHQ_1","BP_PHQ_2","BP_PHQ_3","BP_PHQ_4","BP_PHQ_5","BP_PHQ_6","BP_PHQ_7","BP_PHQ_8","BP_PHQ_9","mh_PHQ_S","BP6_10","BP6_31","DF2_pr","DF2_pt"]

- 총 125개의 columns
- 4기 ~ 8기
- 만 19세 이상만 까지 처리해서 저장한 파일: HN__4_8__19__selected.csv

In [70]:
num_features = ["age",
"ainc",
"HE_PLS_15",
"HE_PLS_30",
"HE_mPLS",
"HE_sbp",
"HE_dbp",
"HE_ht",
"HE_wt",
"HE_wc",
"HE_glu",
"HE_HbA1c",
"HE_insulin",
"HE_chol",
"HE_HDL_st2",
"HE_TG",
"HE_LDL_drct",
"HE_ast",
"HE_alt",
"HE_HB",
"HE_HCT",
"HE_BUN",
"HE_crea",
"HE_WBC",
"HE_RBC",
"HE_Bplt",
"HE_Uacid",
"HE_Uph",
"HE_Usg",
"HE_Ucrea"]

In [71]:
onehot_features = ["region",
"sex",
"occp",
"marri_1",
"tins",
"npins",
"D_2_1",
"DI1_pr",
"DI1_pt",
"DI2_pr",
"DI2_pt",
"DI3_pr",
"DI3_pt",
"DJ4_pr",
"DJ4_pt",
"DE1_pr",
"DE1_pt",
"BH9_11",
"BH1",
"BH2_61",
"LQ4_00",
"LQ1_sb",
"LQ2_ab",
"AC1_yr",
"MH1_yr",
"EC_occp",
"EC_stt_1",
"EC_stt_2",
"EC_wht_0",
"BO1_1",
"BO2_1",
"BD1",
"BS8_2",
"BS9_2",
"LW_ms",
"LW_pr",
"LW_oc",
"HE_rPLS",
"HE_Unitr",
"HE_Upro",
"HE_Uglu",
"HE_Uket",
"HE_Ubil",
"HE_Ubld",
"HE_Uro",
"BM1_0",
"BM1_1",
"BM1_2",
"BM1_3",
"BM1_4",
"BM1_5",
"BM1_6",
"BM1_7",
"BM1_8",
"L_BR_TO",
"L_LN_TO",
"L_DN_TO",
"LK_LB_US",
"LK_LB_EF",
"live_t",
"educ",
"BO1",
"HE_obe",]

In [72]:
label_features = ["incm",
"ho_incm",
"incm5",
"ho_incm5",
"edu",
"cfam",
"house",
"D_1_1",
"DI3_2",
"BD1_11",
"BD2_1",
"BA2_12",
"BA2_13",
"BP1",
"BS3_1",
"BE3_31",
"BE5_1",
"OR1",
]

In [73]:
y_related =["BP_PHQ_1",
"BP_PHQ_2",
"BP_PHQ_3",
"BP_PHQ_4",
"BP_PHQ_5",
"BP_PHQ_6",
"BP_PHQ_7",
"BP_PHQ_8",
"BP_PHQ_9",
"mh_PHQ_S",
"BP6_10",
"BP6_31",
"DF2_pr",
"DF2_pt"]

In [74]:
df = df_origin[num_features+onehot_features+label_features+y_related]
df

,age,ainc,HE_PLS_15,HE_PLS_30,HE_mPLS,HE_sbp,HE_dbp,HE_ht,HE_wt,HE_wc,...,BP_PHQ_5,BP_PHQ_6,BP_PHQ_7,BP_PHQ_8,BP_PHQ_9,mh_PHQ_S,BP6_10,BP6_31,DF2_pr,DF2_pt
0,61.0,460.833333,NaN,37.0,NaN,137.5,82.5,179.9,86.7,103.7,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,0.0,0.0
1,57.0,460.833333,NaN,36.0,NaN,158.0,102.0,179.3,82.0,92.6,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,8.0,8.0
2,39.0,257.500000,NaN,35.0,NaN,104.5,67.5,159.9,59.0,79.3,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,8.0,8.0
3,19.0,257.500000,NaN,31.0,NaN,98.0,61.0,169.7,63.1,74.3,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,8.0,8.0
4,70.0,133.750000,NaN,NaN,59.0,105.5,69.0,171.4,55.8,72.7,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,8.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87981,74.0,58.333333,NaN,NaN,NaN,132.0,73.0,151.6,69.1,99.5,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,8.0,8.0,8.0
87982,25.0,58.333333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87983,36.0,200.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87984,34.0,200.000000,NaN,NaN,NaN,95.0,59.0,151.4,57.9,77.5,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,8.0,8.0
87985,65.0,150.000000,NaN,NaN,NaN,122.0,72.0,151.9,58.8,93.4,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,8.0,8.0

In [75]:
## 20231204_v4 반영
## ['LQ4_24', 'N_DT_DS', 'N_DUSUAL', 'N_DAY'] object 타입이라 뺌
## [9, 99, 999, 9999] 무응답 널처리

####### 얘네 빼도 되는지 확인 - object 타입인 녀석들 ####
# df = df.drop(columns=['LQ4_24', 'N_DT_DS', 'N_DUSUAL', 'N_DAY'], inplace=False)

####### 9, 99, 999 인 녀석들(모름/무응답) null 처리
df = df.replace([9, 99, 999, 9999], np.nan, inplace=False)

In [76]:
cond = df["BP_PHQ_1"].notna() & \
        df["BP_PHQ_2"].notna() & \
        df["BP_PHQ_3"].notna() & \
        df["BP_PHQ_4"].notna() & \
        df["BP_PHQ_5"].notna() & \
        df["BP_PHQ_6"].notna() & \
        df["BP_PHQ_7"].notna() & \
        df["BP_PHQ_8"].notna() & \
        df["BP_PHQ_9"].notna()

df[df["mh_PHQ_S"].isnull() & cond][["BP_PHQ_1", "BP_PHQ_2", "BP_PHQ_3", "BP_PHQ_4", "BP_PHQ_5", "BP_PHQ_6", "BP_PHQ_7", "BP_PHQ_8", "BP_PHQ_9"]].value_counts()

BP_PHQ_1  BP_PHQ_2  BP_PHQ_3  BP_PHQ_4  BP_PHQ_5  BP_PHQ_6  BP_PHQ_7  BP_PHQ_8  BP_PHQ_9
0.0       0.0       3.0       3.0       3.0       0.0       0.0       0.0       0.0         20
3.0       0.0       3.0       3.0       0.0       0.0       0.0       0.0       0.0          8
1.0       1.0       1.0       1.0       1.0       1.0       1.0       1.0       1.0          5
3.0       3.0       0.0       3.0       0.0       0.0       0.0       0.0       0.0          4
1.0       1.0       3.0       3.0       1.0       0.0       0.0       0.0       0.0          4
                                                                                            ..
          0.0       1.0       1.0       0.0       0.0       3.0       3.0       0.0          1
                              2.0       2.0       1.0       1.0       1.0       0.0          1
                    3.0       1.0       3.0       0.0       1.0       0.0       0.0          1
                              2.0       3.0       0.0       0.0       0.0       0.0          1
3.0       3.0       3.0       0.0       0.0       0.0       0.0       0.0       0.0          1
Name: count, Length: 199, dtype: int64

In [77]:
# mh_PHQ_S 는 null값인데, 각 문항 응답인 BP_PHQ_1 ~ 9의 값이 있는 경우, 더해서 mh_PHQ_S에 넣어주기
a = df[df["mh_PHQ_S"].isnull() & cond][["BP_PHQ_1", "BP_PHQ_2", "BP_PHQ_3", "BP_PHQ_4", "BP_PHQ_5", "BP_PHQ_6", "BP_PHQ_7", "BP_PHQ_8", "BP_PHQ_9"]]

b = a[a <= 3].sum(axis=1)
b[b >= 1] #125

df['mh_PHQ_S'] = b[b >=1]

In [78]:
### 결측값 처리 1
# row 기준 
threshold = 0.3 # threshold for null proportion
null_percent = df.isnull().mean(axis = 1) # 각 행에 대한 결측값 비율 계산
df = df[null_percent < threshold]
df

,age,ainc,HE_PLS_15,HE_PLS_30,HE_mPLS,HE_sbp,HE_dbp,HE_ht,HE_wt,HE_wc,...,BP_PHQ_5,BP_PHQ_6,BP_PHQ_7,BP_PHQ_8,BP_PHQ_9,mh_PHQ_S,BP6_10,BP6_31,DF2_pr,DF2_pt
0,61.0,460.833333,NaN,37.0,NaN,137.5,82.5,179.9,86.7,103.7,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,0.0,0.0
1,57.0,460.833333,NaN,36.0,NaN,158.0,102.0,179.3,82.0,92.6,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,8.0,8.0
2,39.0,257.500000,NaN,35.0,NaN,104.5,67.5,159.9,59.0,79.3,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,8.0,8.0
3,19.0,257.500000,NaN,31.0,NaN,98.0,61.0,169.7,63.1,74.3,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,8.0,8.0
4,70.0,133.750000,NaN,NaN,59.0,105.5,69.0,171.4,55.8,72.7,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,8.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87977,74.0,NaN,NaN,NaN,NaN,109.0,63.0,143.5,54.1,102.8,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,8.0,8.0
87980,75.0,58.333333,NaN,NaN,NaN,165.0,71.0,174.3,80.2,97.3,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,8.0,8.0,8.0
87981,74.0,58.333333,NaN,NaN,NaN,132.0,73.0,151.6,69.1,99.5,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,8.0,8.0,8.0
87984,34.0,200.000000,NaN,NaN,NaN,95.0,59.0,151.4,57.9,77.5,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,8.0,8.0
87985,65.0,150.000000,NaN,NaN,NaN,122.0,72.0,151.9,58.8,93.4,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,8.0,8.0

In [79]:
# 생성변수: `depressed` Define depressed (dependent variable)
cond1 = df['mh_PHQ_S'] >= 10 # mh_PHQ_S - total score 
cond2 = df['BP_PHQ_9'].isin([1, 2, 3]) # person who chose 1, 2, 3 in 9th question 

df[cond1 | cond2].drop_duplicates() # person with cond1 or cond2

,age,ainc,HE_PLS_15,HE_PLS_30,HE_mPLS,HE_sbp,HE_dbp,HE_ht,HE_wt,HE_wc,...,BP_PHQ_5,BP_PHQ_6,BP_PHQ_7,BP_PHQ_8,BP_PHQ_9,mh_PHQ_S,BP6_10,BP6_31,DF2_pr,DF2_pt
12624,62.0,881.666667,NaN,NaN,NaN,101.0,69.0,147.3,54.0,85.5,...,0.0,2.0,0.0,0.0,2.0,NaN,8.0,2.0,8.0,8.0
12650,74.0,600.000000,NaN,NaN,NaN,98.0,61.0,158.4,55.6,74.6,...,2.0,0.0,0.0,1.0,1.0,NaN,8.0,2.0,0.0,0.0
12672,64.0,110.000000,NaN,NaN,NaN,130.0,79.0,156.7,46.4,73.7,...,0.0,3.0,0.0,3.0,1.0,NaN,8.0,2.0,1.0,1.0
12678,49.0,416.666667,NaN,NaN,NaN,118.0,85.0,170.2,75.5,88.6,...,1.0,0.0,1.0,1.0,1.0,NaN,8.0,2.0,8.0,8.0
12708,26.0,150.000000,NaN,NaN,NaN,94.0,67.0,162.3,58.8,75.7,...,3.0,0.0,0.0,0.0,1.0,NaN,8.0,2.0,8.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43764,37.0,225.000000,NaN,NaN,NaN,118.0,75.0,170.1,68.0,78.0,...,2.0,2.0,1.0,0.0,1.0,NaN,8.0,8.0,1.0,0.0
43791,80.0,46.666667,NaN,NaN,NaN,149.0,59.0,148.5,46.4,69.1,...,0.0,0.0,0.0,0.0,2.0,NaN,8.0,8.0,8.0,8.0
43815,46.0,380.000000,NaN,NaN,NaN,110.0,69.0,174.4,71.8,74.8,...,3.0,1.0,1.0,0.0,1.0,NaN,8.0,8.0,8.0,8.0
43825,55.0,583.333333,NaN,NaN,NaN,120.0,82.0,171.3,61.5,79.9,...,0.0,2.0,0.0,0.0,1.0,NaN,8.0,8.0,8.0,8.0
43854,26.0,800.000000,NaN,NaN,NaN,102.0,57.0,161.5,51.3,62.2,...,1.0,1.0,1.0,1.0,2.0,NaN,8.0,8.0,8.0,8.0

In [80]:
# Create a new variable 'depressed' 
df.loc[cond1 | cond2, 'depressed'] = 1 # 두 조건 중 하나 이상을 만족하는 행에 'depressed' 변수에 1 값 
df.loc[~(cond1 | cond2), 'depressed'] = 0 # 두 조건 중 하나라도 만족하지 않는 행에 0 값

In [81]:
# Check distribution of depressed to see if the data is imbalanced
df.groupby('depressed').count() # groupby를 이용해 타겟 y 라벨의 클래스 별 개수를 확인

,age,ainc,HE_PLS_15,HE_PLS_30,HE_mPLS,HE_sbp,HE_dbp,HE_ht,HE_wt,HE_wc,...,BP_PHQ_5,BP_PHQ_6,BP_PHQ_7,BP_PHQ_8,BP_PHQ_9,mh_PHQ_S,BP6_10,BP6_31,DF2_pr,DF2_pt
depressed,,,,,,,,,,,,,,,,,,,,,
0.0,75786,75104,5370,4689,5438,74573,75340,75557,75654,75475,...,15551,15544,15549,15555,15544,186,75748,75710,75785,75785
1.0,1107,1105,0,0,73,1087,1099,1102,1106,1105,...,1100,1097,1102,1102,1107,75,1107,1102,1107,1107

In [82]:
# Remove people who might be depressed
# 1) DF2_pr 도 null값이고, mh_PHQ_S 도 null값인 경우 이 사람에 대한 우울증 관련 정보가 없기 때문에 데이터에서 drop 
df.drop(df[df['DF2_pr'].isna() & df['mh_PHQ_S'].isna()].index, inplace=True)

In [83]:
df.shape # Originally from 82308 rows × 125 columns to 82304 rows × 126 columns

(76892, 126)

In [84]:
# 2) DF2_pr == 8 (never been diagnosed by doctor) & mh_PHQ_S == NaN) 인 경우를 제외하려면?
# DF2_pr != 8 or mh_PHQ != NaN (전부 다 ~ 취하기)
df = df[(df['DF2_pr'] != 8 |  ~df['mh_PHQ_S'].isna())]
df.shape

(74517, 126)

In [85]:
### 결측값 처리 2
# Remove columns if percentage of NaN exceeds 0.1
# threshold = 0.3 # 이거로 하나, 0.1로 하나 큰 차이 x
threshold = 0.1 

null_percent = df.isnull().mean() # 각 열에 대한 결측값 비율 계산
selected_cols = null_percent[null_percent < threshold].index
df = df[selected_cols]
df.shape # (20492, 314)

(74517, 94)

In [86]:
df.columns # 'DF2_pr', 'DF2_pt', 'depressed'는 살아 있어야 함 
#TODO
# DF2_pr 변수 및 DF2_pt 변수 고려해줄 건지... 현 상태에서는 일단 제외하고 모델 돌려보는 걸 목표로 한다.

Index(['age', 'ainc', 'HE_sbp', 'HE_dbp', 'HE_ht', 'HE_wt', 'HE_wc', 'HE_glu',
       'HE_chol', 'HE_HDL_st2', 'HE_TG', 'HE_ast', 'HE_alt', 'HE_HB', 'HE_HCT',
       'HE_BUN', 'HE_crea', 'HE_WBC', 'HE_RBC', 'HE_Bplt', 'HE_Uph', 'HE_Usg',
       'sex', 'occp', 'marri_1', 'tins', 'npins', 'D_2_1', 'DI1_pr', 'DI1_pt',
       'DI2_pr', 'DI2_pt', 'DI3_pr', 'DI3_pt', 'DJ4_pr', 'DJ4_pt', 'DE1_pr',
       'DE1_pt', 'BH9_11', 'BH1', 'BH2_61', 'LQ4_00', 'LQ1_sb', 'LQ2_ab',
       'EC_occp', 'EC_stt_1', 'EC_stt_2', 'BO1_1', 'BO2_1', 'BD1', 'BS8_2',
       'BS9_2', 'HE_rPLS', 'HE_Unitr', 'HE_Upro', 'HE_Uglu', 'HE_Uket',
       'HE_Ubil', 'HE_Ubld', 'HE_Uro', 'BM1_1', 'BM1_2', 'BM1_3', 'BM1_4',
       'BM1_5', 'BM1_6', 'BM1_7', 'BM1_8', 'live_t', 'educ', 'BO1', 'HE_obe',
       'incm', 'ho_incm', 'incm5', 'ho_incm5', 'edu', 'cfam', 'house', 'D_1_1',
       'DI3_2', 'BD1_11', 'BD2_1', 'BA2_12', 'BA2_13', 'BP1', 'BS3_1',
       'BE3_31', 'BE5_1', 'BP6_10', 'BP6_31', 'DF2_pr', 'DF2_pt', 'depressed'],
      dtype='object')

In [87]:
len(df.columns)

94

In [88]:
# df[['DF2_pr', 'DF2_pt']].isnull().sum() # 0, 0
df[['BP6_10', 'BP6_31']].isnull().sum() # 35, 75

# 두 변수 모두 1년간 자살 생각 및 자살 시도 여부를 예 아니오로 응답한 질문 
# null 값 채우기에는 위험하기 때문에 일단 null rows drop 
###TODO 현재는 정확률을 일부로 높이기 위해 해당 변수를 X 피쳐에 포함 시킬 것.
"""추후에는 해당 변수를 아예 제거해야 정확한 실험 가능합니다. """
df.drop(df[df['BP6_10'].isna() | df['BP6_31'].isna()].index, inplace=True)
# df.shape

In [89]:
df.groupby('depressed').count() # groupby를 이용해 타겟 y 라벨의 클래스 별 개수를 확인

,age,ainc,HE_sbp,HE_dbp,HE_ht,HE_wt,HE_wc,HE_glu,HE_chol,HE_HDL_st2,...,BA2_12,BA2_13,BP1,BS3_1,BE3_31,BE5_1,BP6_10,BP6_31,DF2_pr,DF2_pt
depressed,,,,,,,,,,,,,,,,,,,,,
0.0,73504,72851,72325,73075,73281,73377,73206,70002,72002,71993,...,73470,73461,73447,73467,73361,73418,73504,73504,73504,73504
1.0,923,922,906,916,919,923,921,808,841,841,...,916,916,915,915,916,923,923,923,923,923

In [90]:
df.isnull().sum().sort_values(ascending = False) # 결측치 개수 확인

EC_occp      6685
HE_Bplt      5037
BH9_11       5012
HE_BUN       4644
HE_alt       3972
             ...
DE1_pr          0
DJ4_pt          0
DJ4_pr          0
sex             0
depressed       0
Length: 94, dtype: int64

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 74427 entries, 0 to 87985
Data columns (total 94 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         74427 non-null  float64
 1   ainc        73773 non-null  float64
 2   HE_sbp      73231 non-null  float64
 3   HE_dbp      73991 non-null  float64
 4   HE_ht       74200 non-null  float64
 5   HE_wt       74300 non-null  float64
 6   HE_wc       74127 non-null  float64
 7   HE_glu      70810 non-null  float64
 8   HE_chol     72843 non-null  float64
 9   HE_HDL_st2  72834 non-null  float64
 10  HE_TG       72345 non-null  float64
 11  HE_ast      72846 non-null  float64
 12  HE_alt      70455 non-null  float64
 13  HE_HB       72637 non-null  float64
 14  HE_HCT      72678 non-null  float64
 15  HE_BUN      69783 non-null  float64
 16  HE_crea     72895 non-null  float64
 17  HE_WBC      72620 non-null  float64
 18  HE_RBC      72678 non-null  float64
 19  HE_Bplt     69390 non-null  float64
 20  HE_Uph      71301 non-null  float64
 21  HE_Usg      71359 non-null  float64
 22  sex         74427 non-null  float64
 23  occp        74105 non-null  float64
 24  marri_1     74379 non-null  float64
 25  tins        73941 non-null  float64
 26  npins       73604 non-null  float64
 27  D_2_1       74413 non-null  float64
 28  DI1_pr      74426 non-null  float64
 29  DI1_pt      74426 non-null  float64
 30  DI2_pr      74426 non-null  float64
 31  DI2_pt      74426 non-null  float64
 32  DI3_pr      74425 non-null  float64
 33  DI3_pt      74425 non-null  float64
 34  DJ4_pr      74427 non-null  float64
 35  DJ4_pt      74427 non-null  float64
 36  DE1_pr      74427 non-null  float64
 37  DE1_pt      74427 non-null  float64
 38  BH9_11      69415 non-null  float64
 39  BH1         74374 non-null  float64
 40  BH2_61      74354 non-null  float64
 41  LQ4_00      74391 non-null  float64
 42  LQ1_sb      74390 non-null  float64
 43  LQ2_ab      74364 non-null  float64
 44  EC_occp     67742 non-null  float64
 45  EC_stt_1    74322 non-null  float64
 46  EC_stt_2    74283 non-null  float64
 47  BO1_1       74323 non-null  float64
 48  BO2_1       74388 non-null  float64
 49  BD1         74392 non-null  float64
 50  BS8_2       73898 non-null  float64
 51  BS9_2       74326 non-null  float64
 52  HE_rPLS     74270 non-null  float64
 53  HE_Unitr    71359 non-null  float64
 54  HE_Upro     71359 non-null  float64
 55  HE_Uglu     71359 non-null  float64
 56  HE_Uket     71358 non-null  float64
 57  HE_Ubil     71359 non-null  float64
 58  HE_Ubld     71359 non-null  float64
 59  HE_Uro      71359 non-null  float64
 60  BM1_1       74247 non-null  float64
 61  BM1_2       74247 non-null  float64
 62  BM1_3       74247 non-null  float64
 63  BM1_4       74247 non-null  float64
 64  BM1_5       74247 non-null  float64
 65  BM1_6       74247 non-null  float64
 66  BM1_7       74247 non-null  float64
 67  BM1_8       74247 non-null  float64
 68  live_t      74419 non-null  float64
 69  educ        73847 non-null  float64
 70  BO1         74388 non-null  float64
 71  HE_obe      73869 non-null  float64
 72  incm        73792 non-null  float64
 73  ho_incm     73792 non-null  float64
 74  incm5       73791 non-null  float64
 75  ho_incm5    73791 non-null  float64
 76  edu         74302 non-null  float64
 77  cfam        74422 non-null  float64
 78  house       74394 non-null  float64
 79  D_1_1       74418 non-null  float64
 80  DI3_2       74401 non-null  float64
 81  BD1_11      74308 non-null  float64
 82  BD2_1       74380 non-null  float64
 83  BA2_12      74386 non-null  float64
 84  BA2_13      74377 non-null  float64
 85  BP1         74362 non-null  float64
 86  BS3_1       74382 non-null  float64
 87  BE3_31      74277 non-null  float64
 88  BE5_1       74341 non-null  float64
 89  BP6_10      74427 non-null  float64
 90  BP6_31      74427 non-null  float64
 91  DF2_pr      74427 non-null  float64
 92  DF2_pt      74427 non-null  float64
 93  depressed   74427 non-null  float64
dtypes: float64(94)
memory usage: 53.9 MB

In [92]:
# Consider Removed columns to create grouped features again
removed = ['HE_PLS_15', 'HE_PLS_30', 'HE_mPLS', 'HE_HbA1c', 'HE_insulin', 'HE_LDL_drct', 'HE_Uacid', 'HE_Ucrea']
num_features = [item for item in num_features if item not in removed]

removed = ['region', 'AC1_yr', 'MH1_yr', 'EC_wht_0', 'LW_ms', 'LW_pr', 'LW_oc', 'BM1_0', 'L_BR_TO', 'L_LN_TO', 'L_DN_TO', 'LK_LB_US', 'LK_LB_EF']
onehot_features = [item for item in onehot_features if item not in removed]

removed = ['OR1']
label_features = [item for item in label_features if item not in removed]

# removed = ["BP_PHQ_1","BP_PHQ_2","BP_PHQ_3","BP_PHQ_4","BP_PHQ_5","BP_PHQ_6","BP_PHQ_7","BP_PHQ_8","BP_PHQ_9","mh_PHQ_S"]
# label_features = [item for item in y_related if item not in removed]

In [93]:
### 결측값 처리 3 - fillna: KNN
from sklearn.impute import KNNImputer
from sklearn.impute import SimpleImputer

X = df.drop('depressed', axis = 1) # DF2_pr 들어가 있는 상태임
X.shape # (79743, 94) 

###TODO 피쳐 별로 결측값 채우는 방법을 달리 할 수 있음 - 추가 EDA 작업
"""
1) num_features: numerical이니 KNN 써도 됨
2) onehot_features, label_features: 보통 1.0 단위로 값이 커짐. --> KNN으로 결측값을 채우면 1.0 단위로 값이 나와야 하는데 1.2 이렇게 채워짐...
-> 다른 방법으로 결측값 채워야 함 -> 최빈값?
"""

# 1) num_features 결측값 처리 - KNN
knn_imp = KNNImputer(n_neighbors=5)
X[num_features] = knn_imp.fit_transform(X[num_features])

# 2) onehot_features, label_features 결측값 처리 - 최빈값(most frequent values)
freq_imp = SimpleImputer(strategy = "most_frequent")
X[onehot_features] = freq_imp.fit_transform(X[onehot_features])
X[label_features] = freq_imp.fit_transform(X[label_features])

/home/jiwoo/miniconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/home/jiwoo/miniconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/jiwoo/miniconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/jiwoo/miniconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/home/jiwoo/miniconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/jiwoo/miniconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

/home/jiwoo/miniconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/home/jiwoo/miniconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/jiwoo/miniconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/jiwoo/miniconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/home/jiwoo/miniconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/jiwoo/miniconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/jiwoo/miniconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/home/jiwoo/miniconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/jiwoo/miniconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/jiwoo/miniconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/home/jiwoo/miniconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/jiwoo/miniconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

In [94]:
X['BA2_12'].value_counts() # 소숫점 단위로 들어간 게 혹시 있는지 확인 -> 없음 good

BA2_12
5.0    32274
8.0    31825
4.0     6387
3.0     2665
2.0      955
1.0      321
Name: count, dtype: int64

In [95]:
# transform array(X) to dataframe
df_new = pd.DataFrame(X, columns=df.drop('depressed', axis = 1).columns) 
df_new.isna().sum().sort_values(ascending = False)

age       0
HE_Uro    0
live_t    0
BM1_8     0
BM1_7     0
         ..
DI1_pt    0
DI1_pr    0
D_2_1     0
npins     0
DF2_pt    0
Length: 93, dtype: int64

### 피쳐 그룹별 인코딩 작업 -
1. numeric -> 인코딩 없이 사용, 단 scaling 필요함 (일단 MinMaxScaler 사용)
2. onehot -> onehot 인코딩으로 진행 (categorical)
3. label -> label 인코딩으로 진행 (ordinal) -> 결측값 처리 전에 진행되면 좋음 (오히려)

In [96]:
# 1. numeric # 1. numeric - scaling 
from sklearn.preprocessing import MinMaxScaler 
scaler = MinMaxScaler(feature_range=(0, 1))
df_new[num_features] = scaler.fit_transform(df_new[num_features])

/home/jiwoo/miniconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/home/jiwoo/miniconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/jiwoo/miniconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/jiwoo/miniconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/home/jiwoo/miniconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/jiwoo/miniconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

In [97]:
# 2. onehot -> onehot 인코딩으로 진행
df_new = pd.get_dummies(df_new, columns=onehot_features) # sklearn OneHotEncoder 사용도 가능함

In [98]:
# 3. label -> label 인코딩으로 진행 (ordinal)
# label features 중에서 비해당 처리
label_ans_8 = ["DI3_2", "BD1_11", "BD2_11", "BA2_12", "BA2_13", "BP1", "BS3_1","BE3_31", "BE5_1"] # BD2_11 - removed


# 'DI3_2' 변수의 값이 8인 경우, 해당 값을 0으로 바꾸기
df_new['DI3_2'] = df_new['DI3_2'].apply(lambda x: 3 if x == 8 else x)
df_new['BD1_11'] = df_new['BD1_11'].apply(lambda x: 1 if x == 8 else x)
# df_new['BD2_11'] = df_new['BD2_11'].apply(lambda x: 0 if x == 8 else x)
df_new['BA2_12'] = df_new['BA2_12'].apply(lambda x: 5 if x == 8 else x)
df_new['BA2_13'] = df_new['BA2_13'].apply(lambda x: 5 if x == 8 else x)
df_new['BA2_13'] = df_new['BA2_13'].apply(lambda x: 5 if x == 8 else x)
# df_new['BP1'] = df_new['BP1'].apply(lambda x: 5 if x == 8 else x)
df_new['BS3_1'] = df_new['BS3_1'].apply(lambda x: 0 if x == 8 else x)
# df_new['BE3_31'] = df_new['BE3_31'].apply(lambda x: 5 if x == 88 else x)
# df_new['BE5_1'] = df_new['BE5_1'].apply(lambda x: 5 if x == 88 else x)

In [99]:
df_new['DI3_2'].value_counts() # 라벨 인코딩 잘 되었는지 체크

DI3_2
3.0    73519
1.0      624
2.0      284
Name: count, dtype: int64

In [100]:
df_new.isna().any().any()

False

In [101]:
df_new

,age,ainc,HE_sbp,HE_dbp,HE_ht,HE_wt,HE_wc,HE_glu,HE_chol,HE_HDL_st2,...,BO1_2.0,BO1_3.0,BO1_4.0,BO1_5.0,HE_obe_1.0,HE_obe_2.0,HE_obe_3.0,HE_obe_4.0,HE_obe_5.0,HE_obe_6.0
0,0.688525,0.299438,0.390173,0.506993,0.777317,0.458167,0.519630,0.112426,0.256148,0.395193,...,False,False,True,False,False,False,False,True,False,False
1,0.622951,0.299438,0.508671,0.643357,0.769018,0.420717,0.434180,0.094675,0.247951,0.309097,...,False,True,False,False,False,False,False,True,False,False
2,0.327869,0.162360,0.199422,0.402098,0.500692,0.237450,0.331794,0.108481,0.241803,0.280399,...,False,False,True,False,False,False,True,False,False,False
3,0.000000,0.162360,0.161850,0.356643,0.636238,0.270120,0.293303,0.096647,0.196721,0.251700,...,False,False,True,False,False,True,False,False,False,False
4,0.836066,0.078933,0.205202,0.412587,0.659751,0.211952,0.280985,0.106509,0.211066,0.323447,...,True,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87977,0.901639,0.064438,0.225434,0.370629,0.273859,0.198406,0.512702,0.090730,0.260246,0.401243,...,True,False,False,False,False,False,True,False,False,False
87980,0.918033,0.028090,0.549133,0.426573,0.699862,0.406375,0.470362,0.092702,0.338115,0.307711,...,False,True,False,False,False,False,True,False,False,False
87981,0.901639,0.028090,0.358382,0.440559,0.385892,0.317928,0.487298,0.122288,0.315574,0.343685,...,False,False,False,True,False,False,True,False,False,False
87984,0.245902,0.123596,0.144509,0.342657,0.383126,0.228685,0.317937,0.094675,0.225410,0.401243,...,False,False,True,False,False,False,True,False,False,False
87985,0.754098,0.089888,0.300578,0.433566,0.390041,0.235857,0.440339,0.098619,0.266393,0.235764,...,False,False,True,False,False,False,True,False,False,False

In [111]:
cols = list(df_new.columns)
cols

['age',
 'ainc',
 'HE_sbp',
 'HE_dbp',
 'HE_ht',
 'HE_wt',
 'HE_wc',
 'HE_glu',
 'HE_chol',
 'HE_HDL_st2',
 'HE_TG',
 'HE_ast',
 'HE_alt',
 'HE_HB',
 'HE_HCT',
 'HE_BUN',
 'HE_crea',
 'HE_WBC',
 'HE_RBC',
 'HE_Bplt',
 'HE_Uph',
 'HE_Usg',
 'incm',
 'ho_incm',
 'incm5',
 'ho_incm5',
 'edu',
 'cfam',
 'house',
 'D_1_1',
 'DI3_2',
 'BD1_11',
 'BD2_1',
 'BA2_12',
 'BA2_13',
 'BP1',
 'BS3_1',
 'BE3_31',
 'BE5_1',
 'BP6_10',
 'BP6_31',
 'DF2_pr',
 'DF2_pt',
 'sex_1.0',
 'sex_2.0',
 'occp_1.0',
 'occp_2.0',
 'occp_3.0',
 'occp_4.0',
 'occp_5.0',
 'occp_6.0',
 'occp_7.0',
 'marri_1_1.0',
 'marri_1_2.0',
 'tins_10.0',
 'tins_20.0',
 'tins_30.0',
 'npins_1.0',
 'npins_2.0',
 'D_2_1_1.0',
 'D_2_1_2.0',
 'DI1_pr_0.0',
 'DI1_pr_1.0',
 'DI1_pr_8.0',
 'DI1_pt_0.0',
 'DI1_pt_1.0',
 'DI1_pt_8.0',
 'DI2_pr_0.0',
 'DI2_pr_1.0',
 'DI2_pr_8.0',
 'DI2_pt_0.0',
 'DI2_pt_1.0',
 'DI2_pt_8.0',
 'DI3_pr_0.0',
 'DI3_pr_1.0',
 'DI3_pr_8.0',
 'DI3_pt_0.0',
 'DI3_pt_1.0',
 'DI3_pt_8.0',
 'DJ4_pr_0.0',
 'DJ4_pr_1.0',
 'DJ4_pr_8.0',
 'DJ4_pt_0.0',
 'DJ4_pt_1.0',
 'DJ4_pt_2.0',
 'DJ4_pt_8.0',
 'DE1_pr_0.0',
 'DE1_pr_1.0',
 'DE1_pr_8.0',
 'DE1_pt_0.0',
 'DE1_pt_1.0',
 'DE1_pt_8.0',
 'BH9_11_1.0',
 'BH9_11_2.0',
 'BH1_1.0',
 'BH1_2.0',
 'BH2_61_1.0',
 'BH2_61_2.0',
 'LQ4_00_1.0',
 'LQ4_00_2.0',
 'LQ1_sb_1.0',
 'LQ1_sb_2.0',
 'LQ2_ab_1.0',
 'LQ2_ab_2.0',
 'LQ2_ab_8.0',
 'EC_occp_1.0',
 'EC_occp_2.0',
 'EC_occp_3.0',
 'EC_occp_4.0',
 'EC_occp_5.0',
 'EC_occp_6.0',
 'EC_occp_7.0',
 'EC_occp_8.0',
 'EC_occp_10.0',
 'EC_occp_88.0',
 'EC_stt_1_1.0',
 'EC_stt_1_2.0',
 'EC_stt_1_3.0',
 'EC_stt_1_8.0',
 'EC_stt_2_1.0',
 'EC_stt_2_2.0',
 'EC_stt_2_3.0',
 'EC_stt_2_8.0',
 'BO1_1_1.0',
 'BO1_1_2.0',
 'BO1_1_3.0',
 'BO2_1_1.0',
 'BO2_1_2.0',
 'BO2_1_3.0',
 'BO2_1_4.0',
 'BD1_1.0',
 'BD1_2.0',
 'BS8_2_1.0',
 'BS8_2_2.0',
 'BS8_2_3.0',
 'BS8_2_8.0',
 'BS9_2_1.0',
 'BS9_2_2.0',
 'BS9_2_3.0',
 'BS9_2_8.0',
 'HE_rPLS_1.0',
 'HE_rPLS_2.0',
 'HE_Unitr_0.0',
 'HE_Unitr_1.0',
 'HE_Upro_0.0',
 'HE_Upro_1.0',
 'HE_Upro_2.0',
 'HE_Upro_3.0',
 'HE_Upro_4.0',
 'HE_Upro_5.0',
 'HE_Uglu_0.0',
 'HE_Uglu_1.0',
 'HE_Uglu_2.0',
 'HE_Uglu_3.0',
 'HE_Uglu_4.0',
 'HE_Uglu_5.0',
 'HE_Uket_0.0',
 'HE_Uket_1.0',
 'HE_Uket_2.0',
 'HE_Uket_3.0',
 'HE_Uket_4.0',
 'HE_Ubil_0.0',
 'HE_Ubil_2.0',
 'HE_Ubil_3.0',
 'HE_Ubil_4.0',
 'HE_Ubld_0.0',
 'HE_Ubld_1.0',
 'HE_Ubld_2.0',
 'HE_Ubld_3.0',
 'HE_Ubld_4.0',
 'HE_Ubld_5.0',
 'HE_Uro_0.0',
 'HE_Uro_1.0',
 'HE_Uro_2.0',
 'HE_Uro_3.0',
 'HE_Uro_4.0',
 'BM1_1_0.0',
 'BM1_1_1.0',
 'BM1_1_8.0',
 'BM1_2_0.0',
 'BM1_2_1.0',
 'BM1_2_8.0',
 'BM1_3_0.0',
 'BM1_3_1.0',
 'BM1_3_8.0',
 'BM1_4_0.0',
 'BM1_4_1.0',
 'BM1_4_8.0',
 'BM1_5_0.0',
 'BM1_5_1.0',
 'BM1_5_8.0',
 'BM1_6_0.0',
 'BM1_6_1.0',
 'BM1_6_8.0',
 'BM1_7_0.0',
 'BM1_7_1.0',
 'BM1_7_8.0',
 'BM1_8_0.0',
 'BM1_8_1.0',
 'BM1_8_8.0',
 'live_t_1.0',
 'live_t_2.0',
 'live_t_3.0',
 'live_t_4.0',
 'live_t_5.0',
 'educ_1.0',
 'educ_2.0',
 'educ_3.0',
 'educ_4.0',
 'educ_5.0',
 'educ_6.0',
 'educ_7.0',
 'educ_8.0',
 'BO1_1.0',
 'BO1_2.0',
 'BO1_3.0',
 'BO1_4.0',
 'BO1_5.0',
 'HE_obe_1.0',
 'HE_obe_2.0',
 'HE_obe_3.0',
 'HE_obe_4.0',
 'HE_obe_5.0',
 'HE_obe_6.0']

### Sampling
- Under: random
- Over: SMOTE

In [102]:
# under sampling.  OVER 만 하기엔 너무 많이 생성해야해서 under 선수행
from imblearn.under_sampling import RandomUnderSampler

X = df_new
y = df['depressed']

rus = RandomUnderSampler(sampling_strategy=0.1, random_state=42)
X_under, y_under = rus.fit_resample(X, y)
X_under.shape, y_under.shape

/home/jiwoo/miniconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/jiwoo/miniconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/jiwoo/miniconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/jiwoo/miniconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/jiwoo/miniconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/jiwoo/miniconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/jiwoo/miniconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/jiwoo/miniconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/jiwoo/miniconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/jiwoo/miniconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

((10153, 224), (10153,))

In [103]:
# over sampling
from imblearn.over_sampling import SMOTE

smote = SMOTE(random_state=42)
X_over, y_over = smote.fit_resample(X_under, y_under)

X_over.shape, y_over.shape

/home/jiwoo/miniconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/jiwoo/miniconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/jiwoo/miniconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/jiwoo/miniconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/jiwoo/miniconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/jiwoo/miniconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/jiwoo/miniconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/jiwoo/miniconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/jiwoo/miniconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/jiwoo/miniconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/jiwoo/miniconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/home/jiwoo/miniconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/jiwoo/miniconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

((18460, 224), (18460,))

In [104]:
y_over.value_counts()

depressed
0.0    9230
1.0    9230
Name: count, dtype: int64

In [105]:
# X_over.to_csv('../data/HN_X_231206.csv', index=False)
# y_over.to_csv('../data/HN_y_231206.csv', index=False)